.css-1aquho2-MuiTabs-indicator {
    background-color: #15BB66 !important; 
}

.css-1cjdymu-MuiButtonBase-root-MuiChip-root {
    flex-direction: row-reverse;
    height: 38px !important;
    margin-left: 16px !important;
    font-size: 1.125rem !important;
}

.css-1cjdymu-MuiButtonBase-root-MuiChip-root .MuiChip-avatar {
    margin: 0 !important;
    width: 40px !important;
    height: 40px !important;
}
